@use 'variaveis';

.header {
    position: sticky; // faz com que o cabeçalho role junto com a pagina 
    top: 0; // faz com que o cabeçalho role junto com a pagina 
    left: 0; // faz com que o cabeçalho role junto com a pagina 
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1; // cria camadas 1 2 ou 3 fazendo aparecer por cima dos outros 

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
    }

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-width: 768px) {
        max-width: 64px;
        }
    }

    &__links {
        display: flex;
        &__item{
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}

.hidden {
    visibility: hidden; //visivbilidade : oculta
}